img {
   height: 110px; 
}
h2 {
    border-radius: 1px;

}
a {
margin-right: 10px;
}
#cidade {
    width: 200px;
    border: 1px solid black;
}
#hagia {
    width: 200px;
    border: 1px solid black;
}
#cappadocia {
    width: 200px;
    border: 1px solid black;
}