h1 {
    color: blue;
}
body{
    background-color: rgb(53, 153, 170);
    
}
a {
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;

}
a :hover {
    background-color: white;
    color: dodgerblue;
    outline: invert;
}
.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease; }

.btn-link:hover {
  background-color: #0056b3; 
}
img {
  width: 200px;  
  height: 200px; 
  object-fit: cover; 
  border-radius: 5px; 
}
