button.black {
display: flex;


}
:root {
    --font: white;
    --bgMenu: #333;
    --bgBody: #f1f1f1;
    --btnHover: #aaa;
}
.light {
  --font: #62bd9e;
  --bgMenu: #a74fa7;
  
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  text-align: center;
  padding: 20px;
}
#troca {
  width: 64px;
  height: 24px;
  border: 1px solid black;
  background-color: var(--bgNav);
  border-radius: 50px;
  margin: 24px auto;
  position: relative;
}

#troca button {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  top: 50px;
  border: 0;
  border-radius: 50px;
  transform: translateY(-50%);
}
#troca button:hover {
  outline: 2px solid var(--bgNav);
}
.light #troca button {
left: 50%;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 5px 0 15px;
}


nav ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 12px;
  background: #333;
  color: #fff;
  text-decoration: none;
  outline: none; 
}

nav ul li a:hover {
  background: #0056b3;
}
.imagem {
  background: #ddd;
  height: 250px;          
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;       
  border-radius: 6px;
}

.imagem img {
  width: 100%;            
  height: 100%;           
  object-fit: cover;      
  border-radius: 6px;
}



.conteudo {
  display: flex;
  padding: 20px;
}

.principal {
  flex: 2;
  margin-right: 20px;
}

.sessao, .contato {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  text-align: left;
}


.imagem {
  background: #ddd;
  height: 150px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.box {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
}


.box .imagem {
  background: #ddd;
  height: 180px;          
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;       
  border-radius: 6px;
}


.box .imagem img {
  width: 100%;            
  height: 100%;           
  object-fit: cover;      
  border-radius: 6px;
}



.campo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}


label {
  width: 150px;
  font-weight: bold;
}

input, textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  min-height: 80px;
}

button {
  background: #0056b3;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.box img {
    width: 32px;
}

footer {
  text-align: center;
  background: #222;
  color: #fff;
  padding: 15px;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    flex: none;
  }
}

 