* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font: white;
    --bgMenu: #333;
    --bgBody: #f1f1f1;
    --btnHover: #aaa;
}

label[for="btnMenu"] { 
height: 50px;
flex: 1;
width:100%;
background-color: var(--bgMenu);
cursor:pointer;
justify-content: center;
align-items: center;
color: var(--font);
display: none;
}



nav {
    display: flex;
    border-color: var(--bgMenu);
    flex-direction: row;
}

nav a {
    text-decoration: none;
    color:var(--font);
    padding: 16px;
    min-height: 120px;
    border: 1px solid red;
    flex: 1;
}

nav a:hover {
    background-color: var(--btnHover);
}

.row {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.col25 {
    width: 25%;
}

.col75 {
    width: 75%;
}

input[type='text'], input[type='e-mail'], textarea {
    border-radius: 4px;
    border: 1px solid var(--bgMenu);
    width: 100%;
  
}  
textarea {
    height: 200px;
}

.row {
    flex-direction: column;
}

.col25, .col75 {
    width: 100%;
}
.claro {
    --font: rgb(63, 6, 6);
    --bgMenu: #333;
    --bgBody: #a50a0a;
    --btnHover: #aaa;
}

@media (max-widht: 800px) {
label[for="btnMenu"] {
    display: flex;
}
}
.active {
    display: flex;
}
nav {
    display: none;
}


    nav {
        flex-direction: column;
    }


